.contentHeaderWrapper
{
    position: fixed;
    z-index: 99999;
    width: calc(100% - 30px);
    padding-top: 15px;
    padding-bottom: 5px;
    background-color: #f9fafe;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-15px);
}

.contentImgWrapper
{
    display: inline-flex;
    border-radius: 100%;
    height: 45px;
    width: 45px;
    justify-content: center;
    align-items: center;
}

.contentImgWrapper.hidden
{
    visibility: hidden;
}

.contentImg
{
    height: 30px;
    width: 30px;
}

.contentList
{
    padding-top: 55px;
}

h2
{
    font-size: 18px;
    font-weight: 600;
}

.dateItem
{
    background-color: #fdeaf1;
    border-radius: 7.5px;
    margin-bottom: 15px;
}

.dateItemHeader
{
    background-color: #f594b7;
    color: #f9fafe;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 10px 15px;
    border-radius: 7.5px 7.5px 0 0;
}

.dateItemCheckWrapper
{
    position: relative;
    z-index: 999;
    background-color: #fdeaf1;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-right: 10px;
}

.dateItemBody
{
    padding: 15px;
}