.contentHeaderWrapper
{
    position: fixed;
    z-index: 9999999;
    width: calc(100% - 30px);
    left: 0;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    background-color: #f9fafe;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-15px);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, .25);
}

.cardBottomWrapper
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completedDateText
{
    margin-top: 10px;
}

.cardBottomImg
{
    height: 35px;
    width: 35px;
}

.contentHeaderTitleWrapper
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contentHeaderIcon
{
    margin-right: 10px;
    width: 25px;
    height: 25px;
}

.contentImgWrapper
{
    display: inline-flex;
    border-radius: 100%;
    height: 45px;
    width: 45px;
    justify-content: center;
    align-items: center;
}

.contentImgWrapper.hidden
{
    visibility: hidden;
}

.contentImg
{
    height: 30px;
    width: 30px;
}

.checkImgContent
{
    height: 20px;
    width: 20px;
    position: relative;
    z-index: 999999;
    margin-right: 10px;
}

.contentList
{
    background-color: #f9fafe;
    padding-top: 65px;
    padding-bottom: 50px;
}

h2
{
    font-size: 18px;
    font-weight: 600;
}

.dateItem
{
    background-color: #e6d9fe;
    border-radius: 7.5px;
    margin-bottom: 30px;
}

.dateItemHeader
{
    background-color: #ad7ffb;
    color: #f9fafe;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 10px 15px;
    border-radius: 7.5px 7.5px 0 0;
}

.dateItemBody
{
    padding: 15px;
}