.wrapper
{
  padding: 15px;
  background-color: #f9fafe;
}

h1
{
  font-size: 24px;
  font-weight: 600;
}

/*
Gebroken wit #f9fafe
Heel licht paars/blauw #ccd0f6
Blauw #92b2fd
Roze #f594b7
Licht paars #ad7ffb
Paars #8051cf
*/