.wrapper
{
  padding: 15px;
}

h1
{
  font-size: 24px;
  font-weight: 600;
}

.loading_wrapper
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 30px);
}

/*
Gebroken wit #f9fafe
Heel licht paars/blauw #ccd0f6
Blauw #92b2fd
Roze #f594b7
Licht paars #ad7ffb
Paars #8051cf
*/